* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}
body {
    background-image: url(../img/background.jpg);
    overflow-x: hidden;
    overflow-y: scroll;
}
/*celular*/
.toggle__menu {
    position: absolute;
    width: 35px;
    max-width: 100%;
    top: 0.1px;
    right: 20px;
    z-index: 1;
}
.main__menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(51, 50, 50);
    transition: transform 0.3s;
    transform: translateY(-110%);
}
.checkbox {
    display: none;
}
.checkbox:checked + .main__menu {
    transform: translateY(0);
}
.menu__item {
    padding: 30px;
}
.menu__link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}
.logo {
    background-color: rgb(51, 50, 50);
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 4px;
}
.logo img {
    height: 25px;
}
.footerText {
    background-color: rgb(51, 50, 50);
    color: rgb(255, 255, 255);
}
.footerText a {
    text-decoration: none;
    color: rgb(0, 200, 255);
}
.article__menu h1 {
    font-size: 40px;
    text-align: center;
    padding: 30px 5px;
}
.article__menu p {
    background: linear-gradient(45deg, rgb(29, 114, 114),rgb(46, 97, 208),rgb(100, 64, 154));
    font-size: 25px;
    font-weight: bold;
    border: 15px solid rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    margin-bottom: 30px;
}
.article__menu img {
    margin-bottom: 30px;
}
.bodyForm {
    background-color: rgb(255, 255, 255);
    margin: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
    border-radius: 10px;
}
.textForm {
    text-align: center;
    font-size: 50px;
    color: rgb(0, 0, 0);
    margin-bottom: 60px;
    font-weight: bold;
}
.loginForm input {
    display: block;
    margin: auto;
    height: auto;
    width: auto;
    padding-left: 10px;
    padding: 10px;
    font-size: 20px;
}
#inputPassword {
    margin-top: 40px;
}
form .formButton {
    display: block;
    margin: auto;
    margin-top: 80px;
    height: auto;
    width: auto;
    font-size: 20px;
    font-weight: bold;
}
.controls {
    border-radius: 5px;
}
.container-img {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    grid-template-rows: 200px;
}
.container-img .box-img:nth-child(1) {
    grid-column-start: span 1;
}
.container-img .box-img img {
    height: 200px;
}
.botonAnimado {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.botonAnimado:hover {
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
}

/*pc escritorio*/
@media screen and (min-width: 900px) {
    .toggle__menu {
        display: none;
    }
    .main__menu {
        flex-direction: row;
        justify-content: center;
        transform: translateY(0);
    }
    .menu__link:hover {
        color: rgb(0, 255, 255);
    }
    .menu__item:hover {
        transform: scale(1.2);
    }
    article {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 40px;
    }
    .container-img {
        width: 100%;
        max-width: 900px;
        margin: auto;
        margin-top: 60px;
        margin-bottom: 60px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 250px;
        grid-gap: 20px;
    }
    .container-img .box-img figure {
        width: 100%;
        height: 100%;
    }
    .container-img .box-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .container-img .box-img:nth-child(1) {
        grid-column-start: span 2;
    }
    .container-img .box-img:nth-child(4) {
        grid-column-start: span 2;
    }
    main {
        margin-left: 40px;
    }
    .nasaImg {
        border: 15px solid rgb(255, 255, 255);
        width: 500px;
    }
}